<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add Movie</title>
</head>
<body>
<h2>New Movie</h2>
<form th:action="@{/movies}" th:object="${movie}" method="post">
    Title <input type="text" th:field="*{title}" /> <br>
    Genre <input type="text" th:field="*{genre}" /> <br>
    Rating <input type="number" step="0.1" th:field="*{rating}" /> <br>
    Duration <input type="text" th:field="*{duration}" /> <br>
    Release Date <input type="date" th:field="*{releaseDate}" /> <br>

    <button type="submit">Save</button>
</form>

<a href="/movies">Back</a>

</body>
</html>